sheep_xy_interpolated.rdata
buckets_video_analysis_201803-06_withErrors.xlsx
buckets.csv
GPS data_Salt6_Nov to Dec 2018_ownfiltered_interpolated.rdata
ids.csv
interpolated_eartag.csv
interpolated_flag.csv
interpolated.csv
lats.csv
lons.csv
MXs
period.start.idxs.csv
personality_fid.csv
personality_flag.csv
rdataToCsv.R
Salt6_corners_food locations_collective decision making_March2019.csv
SampleMotion.gif
sheep_fid_session1-2_fixed20200916.csv
sheep_xy_interpolated.rdata
ts.csv
xs.csv
ys.csv